# Dockerfile/Docker Compose
# The following is needed to build ARM64/Apple Silicon images if you are
# running your containers on that platform. Leave blank for x86_64.
#DOCKER_ARCH='arm64v8/'

# Django variables
DJANGO_SECRET_KEY=9e4@&tw46$l31)zrqe3wi+-slqm(ruvz&se0^%9#6(_w3ui!c0
DJANGO_DEBUG=False
LOG_LEVEL=INFO

# The following entry is if running under Gunicorn
GUNICORN_CMD_ARGS="--bind=0.0.0.0:8000 --access-logfile=-"

# PostgreSQL db
DATABASE_SERVICE_NAME=postgresql
DATABASE_ENGINE=postgresql
DATABASE_NAME=postgres
DATABASE_USER=postgres
DATABASE_PASSWORD=db_password
POSTGRESQL_SERVICE_HOST=db
POSTGRESQL_SERVICE_PORT=5432
POSTGRES_PASSWORD=db_password

# Celery variables
CELERY_BROKER_URL='redis://redis:6379/0'

# LDAP variables
LDAP_SERVER=ldaps://ldap.example.com
LDAPTLS_CACERT=/dashboard/incommon-ca-chain.pem

# AKIPS variables
AKIPS_SERVER=akips.example.com
AKIPS_USERNAME=api-rw
AKIPS_PASSWORD=akips_password
AKIPS_CACERT=/dashboard/incommon-ca-chain.pem

# OCNES variables
MAX_UNREACHABLE=5000

# Inventory Feed variables
INVENTORY_URL=https://example.com/json/dump.json
INVENTORY_TOKEN=inventory_token

# Inbound Webhook
AKIPS_WEBHOOK_TOKEN=webhook_token

# ServiceNow
SN_URL=https://example.service-now.com/api/now/import/u_incident_in
SN_INSTANCE=example
SN_USERNAME=sn_username
SN_PASSWORD=sn_password
