# Base Django 4.2 requirements
Django>=4.2,<5.0
django-debug-toolbar==4.4.6
gunicorn==23.0.0
psycopg2-binary==2.9.9
pytz==2024.1
sqlparse==0.5.1
whitenoise==6.7.0

# General
python-dotenv
requests

# Django LDAP 
django-auth-ldap
django-adminlte3

# Celery
celery
django_celery_results
django_celery_beat
redis
