{% extends 'akips/base.html' %}
{% load static %}

{% block title %}OCNES Dashboard{% endblock %}
{% block page_name %}About OCNES{% endblock %}

{% block style_sheets %}
<link rel="stylesheet" href="{% static 'admin-lte/plugins/datatables-bs4/css/dataTables.bootstrap4.css' %}">
{% endblock %}

{% block content %}
 <div class="card">
    <div class="card-body table-responsive">
        <p>The OCNES tool is a customized dashboard view on top of <a href="https://akips.net.unc.edu">AKiPS</a></p>

        <table class="table table-hover table-responsive table-sm">
            <tr>
                <th>Current Status</th>
                <th>Start</th>
                <th>End</th>
                <th>Status</th>
            </tr>
            <tr>
                <td>Last AKiPS device sync</td>
                {% if last_akips_sync %}
                <td>{{ last_akips_sync.date_created }}</td>
                <td>{{ last_akips_sync.date_done }}</td>
                <td>{{ last_akips_sync.status }}</td>
                {% else %}
                <td></td>
                <td></td>
                <td>None</td>
                {% endif %}
            </tr>
            <tr>
                <td>Last Inventory device sync</td>
                {% if last_inventory_sync %}
                <td>{{ last_inventory_sync.date_created }}</td>
                <td>{{ last_inventory_sync.date_done }}</td>
                <td>{{ last_inventory_sync.status }}</td>
                {% else %}
                <td></td>
                <td></td>
                <td>None</td>
                {% endif %}
            </tr>
        </table>
    </div>
</div>

{% endblock %}

{% block js %}
<script type="text/javascript">
    $(document).ready(function () {
        // Setup Alerting
        refresh_alerts();
        enable_alert_toggle();
    })
</script>
{% endblock js %}