{% load static %}

{% block content %}
<table class="table table-hover table-sm">
    <thead>
        <tr>
            <th>Ack</th>
            <th>Distribution Tier</th>
            <th>Switch Count</th>
            <th>AP Count</th>
            <th>UPS Count</th>
            <th>Percent Down</th>
            <th>Last Event</th>
            <th>Trend</th>
            <th>Incident Request</th>
        </tr>
    </thead>
    <tbody>
        {% for summary in summaries %}
        <tr>
            <td>

            </td>
            <td><a href="{% url 'tier' summary.name %}">{{ summary.name }}</a> <a href="{% url 'summary' summary.id %}">*</a></td>
            <!-- <td><a href="{% url 'summary' summary.id %}">{{ summary.name }}</a></td> -->
            <td>{{ summary.switch_count }}</td>
            <td>{{ summary.ap_count }}</td>
            <td>{{ summary.ups_count }}</td>
            <td>{% widthratio summary.percent_down 1 100 %}%</td>
            <td>{{ summary.last_event }}</td>
            <td class="akips_trend">{{ summary.trend }}</td>
            <td class="text-center">
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}