{% load static %}

{% block content %}
<table class="table table-hover table-sm">
    <thead>
        <tr>
            <th>Ack</th>
            <th>Building</th>
            <th>Switch Count</th>
            <th>AP Count</th>
            <th>UPS Count</th>
            <th>Percent Down</th>
            <th>Last Event</th>
            <th>Trend</th>
            <th>Incident Request</th>
        </tr>
    </thead>
    <tbody>
        {% for summary in summaries %}
        <tr>
            <td>
                <div class="custom-control custom-switch">
                {% if summary.ack %}
                <input type="checkbox" class="custom-control-input ack-switch" id="ack-switch-{{ summary.id}}" data-url="{% url 'ack' summary.id %}" checked>
                {% else %}
                <input type="checkbox" class="custom-control-input ack-switch" id="ack-switch-{{ summary.id}}" data-url="{% url 'ack' summary.id %}" >
                {% endif %}
                <label class="custom-control-label" for="ack-switch-{{ summary.id }}"></label>
                </div>
            </td>
            <td><a href="{% url 'building' summary.name %}">{{ summary.name }}</a> <a href="{% url 'summary' summary.id %}"><i class="fas fa-info"></i></a></td>
            <td>{{ summary.switch_count }}</td>
            <td>{{ summary.ap_count }}</td>
            <td>{{ summary.ups_count }}</td>
            <td>{% widthratio summary.percent_down 1 100 %}%</td>
            <td>{{ summary.last_event }}</td>
            <td class="akips_trend">{{ summary.trend }}</td>
            <td class="text-center">
                {% if summary.incident %}
                {{ summary.incident }}
                {% else %}
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" name="event" value="{{ summary.id }}">
                </div>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}