{% load static %}

{% block content %}
<table class="table table-hover table-sm">
    <thead>
        <tr>
            <th>Ack</th>
            <th>Critical Device</th>
            <th>IP Address</th>
            <th>Description</th>
            <th>Last Event</th>
            <th>Incident Request</th>
        </tr>
    </thead>
    <tbody>
        {% for crit in critical %}
        <tr>
            <td>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="ack_crit_{{ crit.id }}">
                </div>
            </td>
            <td><a href="{% url 'device' crit.name %}">{{ crit.name }}</a></td>
            <td>{{ crit.device.ip4addr }}</td>
            <td>{{ crit.device.sysDescr }}</td>
            <td>{{ crit.last_event }}</td>
            <td class="text-center">
                {% if crit.incident %}
                {{ crit.incident }}
                {% else %}
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="incident_{{ crit.id }}">
                </div>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}