{% load static %}

{% block content %}
<table class="table table-hover table-sm">
    <thead>
        <tr>
            <th>Ack</th>
            <th>Critical Device</th>
            <th>IP Address</th>
            <th>Description</th>
            <th>Last Event</th>
            <th>Trend</th>
            <th>Incident Request</th>
        </tr>
    </thead>
    <tbody>
        {% for summary in summaries %}
        <tr>
            <td>
                <div class="form-group float-left m-0">
                    <div class="custom-control custom-switch">
                        {% if summary.ack %}
                        <input type="checkbox" class="custom-control-input ack-switch" id="ack-switch-{{ summary.id}}" data-url="{% url 'ack' summary.id %}" checked>
                        {% else %}
                        <input type="checkbox" class="custom-control-input ack-switch" id="ack-switch-{{ summary.id}}" data-url="{% url 'ack' summary.id %}" >
                        {% endif %}
                        <label class="custom-control-label" for="ack-switch-{{ summary.id }}"></label>
                        </div>
                    </div>
                </div>
                {% if summary.ack %}
                <span data-container="body" data-toggle="popover" data-content="Ack by {{ summary.ack_by }} at {{ summary.ack_at }}"><i class="fas fa-info-circle text-primary"></i></span>
                {% endif %}
            </td>
            <!-- <td><a href="{% url 'summary' summary.id %}">{{ summary.name }}</a></td> -->
            <td><a href="{% url 'summary' summary.id %}">{% with summary.unreachables.all|first as u %}{{ u.device.sysName }}{% endwith %}</a></td>
            <td>{% with summary.unreachables.all|first as u %}{{ u.device.ip4addr }}{% endwith %}</td>
            <td><span class="d-inline-block text-truncate" style="max-width: 200px">{% with summary.unreachables.all|first as u %}{{ u.device.sysDescr }}{% endwith %}</span></td>
            <!-- <td>{{ summary.first_event|date:'Y-m-d H:i:s' }}</td> -->
            <td>{{ summary.last_event|date:'m-d H:i:s' }}</td>
            {% if summary.trend == 'New' %}
                <td class="text-center text-danger akips_trend d-none d-md-table-cell"><i class="fas fa-caret-square-up" title="New"></i></td>
            {% elif summary.trend == 'Increasing' %}
                <td class="text-center text-danger akips_trend d-none d-md-table-cell"><i class="fas fa-caret-square-up" title="Increasing"></i></td>
            {% elif summary.trend == 'Decreasing' %}
                <td class="text-center text-success akips_trend d-none d-md-table-cell"><i class="fas fa-caret-square-down" title="Decreasing"></i></td>
            {% elif summary.trend == 'Recovered' %}
                <td class="text-center text-success akips_trend d-none d-md-table-cell"><i class="fas fa-thumbs-up" title="Recovered"></i></td>
            {% else %}
                <td class="text-center akips_trend d-none d-md-table-cell"></td>
            {% endif %}
            <td class="text-center">
                {% if summary.incident %}
                {{ summary.incident }}
                {% else %}
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" name="event" value="{{ summary.id }}">
                </div>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}