{% load static %}

{% block content %}
<table class="table table-hover table-sm">
    <thead>
        <tr>
            <th>Ack</th>
            <th>Distribution Tier</th>
            <th>Switch Count</th>
            <th>AP Count</th>
            <th>UPS Count</th>
            <th>Percent Down</th>
            <th>Last Event</th>
            <th>Trend</th>
            <th>Incident Request</th>
        </tr>
    </thead>
    <tbody>
        {% for tier in tiers %}
        <tr>
            <td>

            </td>
            <td><a href="{% url 'tier' tier.name %}">{{ tier.name }}</a></td>
            <td>{{ tier.switch_count }}</td>
            <td>{{ tier.ap_count }}</td>
            <td>{{ tier.ups_count }}</td>
            <td>{% widthratio tier.percent_down 1 100 %}%</td>
            <td>{{ tier.last_event }}</td>
            <td class="akips_trend">{{ tier.trend }}</td>
            <td class="text-center">
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}