{% load static %}

{% block content %}
<table class="table table-hover table-sm">
    <thead>
        <tr>
            <th>Ack</th>
            <th>Critical Device</th>
            <th>IP Address</th>
            <th>Description</th>
            <th>Last Event</th>
            <th>Incident Request</th>
        </tr>
    </thead>
    <tbody>
        {% for summary in summaries %}
        <tr>
            <td>
                <div class="custom-control custom-switch">
                    {% if summary.ack %}
                    <input type="checkbox" class="custom-control-input ack-switch" id="ack-switch-{{ summary.id}}" data-url="{% url 'ack' summary.id %}" checked>
                    {% else %}
                    <input type="checkbox" class="custom-control-input ack-switch" id="ack-switch-{{ summary.id}}" data-url="{% url 'ack' summary.id %}" >
                    {% endif %}
                    <label class="custom-control-label" for="ack-switch-{{ summary.id }}"></label>
                    </div>
                </div>
            </td>
            <td><a href="{% url 'device' summary.name %}">{{ summary.name }}</a> <a href="{% url 'summary' summary.id %}">*</a></td>
            <td>{% with summary.unreachables.all|first as u %}{{ u.device.ip4addr }}{% endwith %}</td>
            <td>{% with summary.unreachables.all|first as u %}{{ u.device.sysDescr }}{% endwith %}</td>
            <td>{{ summary.last_event }}</td>
            <td class="text-center">
                {% if summary.incident %}
                {{ summary.incident }}
                {% else %}
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" name="event" value="{{ summary.id }}">
                </div>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}