{% load static %}

{% block content %}
<table class="table table-hover table-sm">
    <thead>
        <tr>
            <th>Ack</th>
            <th>Tier1 / Building</th>
            <th>Switch</th>
            <th>AP</th>
            <th>UPS</th>
            <th>All</th>
            <th>% Affected</th>
            <th>First Event</th>
            <th>Trend</th>
            <th>Incident Request</th>
        </tr>
    </thead>
    <tbody>
        {% for summary in summaries %}
        {% if summary.type == 'Distribution' %}
        <tr>
            <td></td>
            {% else %}
        <tr>
            <td>
                <div class="custom-control custom-switch">
                    {% if summary.ack %}
                    <input type="checkbox" class="custom-control-input ack-switch" id="ack-switch-{{ summary.id}}"
                        data-url="{% url 'ack' summary.id %}" checked>
                    {% else %}
                    <input type="checkbox" class="custom-control-input ack-switch" id="ack-switch-{{ summary.id}}"
                        data-url="{% url 'ack' summary.id %}">
                    {% endif %}
                    <label class="custom-control-label" for="ack-switch-{{ summary.id }}"></label>
                </div>
            </td>
            {% endif %}
            <!-- <td><a href="{% url 'building' summary.name %}">{{ summary.name }}</a> <a href="{% url 'summary' summary.id %}">*</a></td> -->
            {% if summary.type == 'Distribution' %}
            <td class="font-weight-bold">
                <a href="{% url 'summary' summary.id %}">{{ summary.name }}</a>
            </td>
            {% else %}
            <td>
                <a href="{% url 'summary' summary.id %}"><i class="fas fa-building"></i> {{ summary.name }}</a>
            </td>
            {% endif %}
            <td>{{ summary.switch_count }}</td>
            <td>{{ summary.ap_count }}</td>
            <td>{{ summary.ups_count }}</td>
            <td>{{ summary.total_count }}</td>
            <td>{% widthratio summary.percent_down 1 100 %}%</td>
            <td>{{ summary.first_event }}</td>
            <td class="akips_trend">{{ summary.trend }}</td>
            <td class="text-center">
                {% if summary.incident %}
                {{ summary.incident }}
                {% else %}
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" name="event" value="summary_{{ summary.id }}">
                </div>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}