{% extends 'akips/base.html' %}

{% block title %}OCNES {{ device.name }}{% endblock %}
{% block page_name %}Device Focus | {{ name }}{% endblock %}


{% block content %}
<div class="card">
    <div class="card-body table-responsive">
        <div class="row">
            <div class="col-8">
                <table class="table table-sm">
                    <tr>
                        <th>AKiPS Name</th>
                        <td><a href="https://akips.net.unc.edu/dashboard?mode=device;device_list={{ device.name }};time=last1h">{{ device.name }}</a></td>
                    </tr>
                    <tr>
                        <th>Address</th>
                        <td>{{ device.ip4addr }}</td>
                    </tr>
                    <tr>
                        <th>sysName</th>
                        <td>{{ device.sysName }}</td>
                    </tr>
                    <tr>
                        <th>sysLocation</th>
                        <td>{{ device.sysLocation }}</td>
                    </tr>
                    <tr>
                        <th>sysDescr</th>
                        <td>{{ device.sysDescr }}</td>
                    </tr>
                    <tr>
                        <th>Tier</th>
                        <td>{{ device.tier }}</td>
                    </tr>
                    <tr>
                        <th>Building</th>
                        <td>{{ device.building_name }}</td>
                    </tr>
                    <tr>
                        <th>Type</th>
                        <td>{{ device.type }}</td>
                    </tr>
                    <tr>
                        <th>Last Refresh</th>
                        <td>{{ device.last_refresh }}</td>
                    </tr>
                </table>
            </div>
            <div class="col-4 text-center">
                <div class="custom-control custom-switch">
                    {% if device.maintenance %}
                    <input type="checkbox" class="custom-control-input" id="maintSwitch1" data-name="{{ device.name }}"
                        data-url="{% url 'set_maintenance' %}" checked>
                    {% else %}
                    <input type="checkbox" class="custom-control-input" id="maintSwitch1" data-name="{{ device.name }}"
                        data-url="{% url 'set_maintenance' %}">
                    {% endif %}
                    <label class="custom-control-label" for="maintSwitch1">Maintenance Mode</label>
                </div>
            </div>
        </div>
    </div>
</div>

<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
            aria-selected="true">Unreachable History ({{ unreachables|length }})</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
            aria-selected="false">Trap History ({{ traps|length }})</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="status-tab" data-toggle="tab" href="#status" role="tab" aria-controls="status"
            aria-selected="false">Current Status ({{ status_list|length }})</a>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <div class="card">
            <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <!-- <th>id</th> -->
                            <th>Down</th>
                            <th>Start</th>
                            <th>End</th>
                            <th>Incident</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for unreachable in unreachables %}
                        <tr>
                            <!-- <td>{{ unreachable.id }}</td> -->
                            <td>{% if unreachable.ping_state == 'down' %}ping{% endif %} 
                                {% if unreachable.snmp_state == 'down' %}snmp{% endif %}</td>
                            <td>{{ unreachable.event_start }}</td>
                            <td>{% if unreachable.status == 'Closed' %}{{ unreachable.last_refresh }}{% endif %}</td>
                            <td>{{ unreachable.incident }}</td>
                            <td>{{ unreachable.status }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <div class="card">
            <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Trap</th>
                            <th>Recorded</th>
                            <th>Incident</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for trap in traps %}
                        <tr>
                            <td><a href="{% url 'trap' trap.id %}">{{ trap.trap_oid }}</a>
                                {% if trap.dup_count > 0 %}<span class="float-right badge bg-primary dup-data" data-last='{{ trap.dup_last|date:"c" }}'>{{ trap.dup_count }} dup</span>{% endif %}
                            </td>
                            <td>{{ trap.tt }}</td>
                            <td>{{ trap.incident }}</td>
                            <td>{{ trap.status }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="status" role="tabpanel" aria-labelledby="status-tab">
        <div class="card">
            <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Attribute</th>
                            <th>Value</th>
                            <th>Last Change</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for status in status_list %}
                        <tr>
                            <td>{{ status.attribute }}</td>
                            <td>{{ status.value }}</td>
                            <td>{{ status.last_change }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
    function voice_alert() {
        var alert_toggle = $('#voice-alert-toggle').prop('checked') // Boolean
        var alert_url = $('#voice-alert-toggle').data('alert-url')
        if (alert_toggle) {
            $.get( alert_url, function( data ) {
                data.messages.forEach(function (item) {
                    var msg = new SpeechSynthesisUtterance(item);
                    speechSynthesis.speak(msg);
                })
            } )
        }
    }
</script>
<script type="text/javascript">
    function toggle_maintenance_mode() {
        console.log("NYI")
    }
</script>
<script type="text/javascript">
    $(document).ready(function () {
        var refresh_seconds = 30000;

        voice_alert();

        // Configure the user preference switch
        $(document).on('change', 'input.voice-alert-toggle', function () {
            var url = $(this).data("url");
            if (this.checked) {
                console.log("ack checkbox on");
                $.get(url, { "voice_enabled": 'True' })
            } else {
                console.log("ack checkbox off")
                $.get(url, { "voice_enabled": 'False' })
            }
        });

        // Update the page content on a dynamic refresh interval
        var intervalId = window.setInterval(function () {
            voice_alert();
        }, refresh_seconds);

        $('#maintSwitch1').change(function () {
            var url = $(this).data("url");
            var name = $(this).data("name");
            if (this.checked) {
                //var returnVal = confirm("Are you sure?");
                //$(this).prop("checked", returnVal);
                console.log("maint checkbox on");
                $.get(url, { "device_name": name, "maintenance_mode": 'True' })
            } else {
                console.log("maint checkbox off")
                $.get(url, { "device_name": name, "maintenance_mode": 'False' })
            }
        });
    });
</script>
{% endblock %}