{% extends 'akips/base.html' %}

{% block page_name %}Device Focus | {{ name }}{% endblock %}


{% block content %}
<dl class="row">
    <dt class="col-sm-2">Name</dt>
    <dd class="col-sm-10">{{ device.sysName }}</dd>
    <dt class="col-sm-2">Address</dt>
    <dd class="col-sm-10">{{ device.ip4addr }}</dd>
    <dt class="col-sm-2">sysName</dt>
    <dd class="col-sm-10">{{ device.sysName }}</dd>
    <dt class="col-sm-2">sysLocation</dt>
    <dd class="col-sm-10">{{ device.sysLocation }}</dd>
    <dt class="col-sm-2">sysDescr</dt>
    <dd class="col-sm-10">{{ device.sysDescr }}</dd>
    <dt class="col-sm-2">Tier</dt>
    <dd class="col-sm-10">{{ device.tier }}</dd>
    <dt class="col-sm-2">Building</dt>
    <dd class="col-sm-10">{{ device.building_name }}</dd>
    <dt class="col-sm-2">Type</dt>
    <dd class="col-sm-10">{{ device.type }}</dd>
    <dt class="col-sm-2">Last Refresh</dt>
    <dd class="col-sm-10">{{ device.last_refresh }}</dd>
</dl>

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Unreachable</h3>
    </div>
    <div class="card-body table-responsive p-0">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Ack</th>
                    <th>Name</th>
                    <th>IP Address</th>
                    <th>Description</th>
                    <th>Last Event</th>
                    <th>Incident Request</th>
                </tr>
            </thead>
            <tbody>
                {% for device in devices %}
                <tr>
                    <td></td>
                    <td><a href="{% url 'device' device.device.name %}">{{ device.device.name }}</a></td>
                    <td>{{ device.device.ip4addr }}</td>
                    <td>{{ device.device.sysDescr }}</td>
                    <td>{{ device.last_refresh }}</td>
                    <td></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}