{% extends "akips/error_base.html" %}
{% block title %}{% endblock %}
{% load static %}

{% block content %}

  <div class="card">
    <div class="card-body login-card-body">
        <div class="error-page">
        <h2 class="headline text-primary">403</h2>

        <div class="error-content">
          <h3><i class="fas fa-exclamation-triangle text-primary"></i> Forbidden</h3>
          <p>
            Sorry but you do not have access to this page or resource.
            Contact the ITS Networking team to request access.
          </p>

        </div>
      </div>
      <!-- /.error-page -->
    </div>
    <!-- /.login-card-body -->
  </div>

{% endblock %}