{% extends 'akips/base.html' %}

{% block title %}OCNES Recent Events{% endblock %}
{% block page_name %}Recent Events (Last 24 Hours){% endblock %}

{% block content %}
<div class="card">
    <div class="card-body table-responsive p-0">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Building / Device</th>
                    <th>Tier</th>
                    <!-- <th>Total</th> -->
                    <th>First Event</th>
                    <th>Last Event</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for summary in summaries %}
                <tr>
                    <td><a href="{% url 'summary' summary.id %}">{{ summary.type }} {{ summary.name }}</a></td>
                    <td>{{ summary.tier }}</td>
                    <!-- <td>{{ summary.total_count }}</td> -->
                    <td>{{ summary.first_event }}</td>
                    <td>{{ summary.last_event }}</td>
                    <td>{{ summary.status }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}