{% extends 'akips/base.html' %}

{% block title %}OCNES Recent Events{% endblock %}
{% block page_name %}Recent Events (Last 24 Hours){% endblock %}

{% block content %}
<div class="card">
    <div class="card-body table-responsive p-0">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Building / Device</th>
                    <th>Tier</th>
                    <!-- <th>Total</th> -->
                    <th>First Event</th>
                    <th>Last Event</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for summary in summaries %}
                <tr>
                    <td><a href="{% url 'summary' summary.id %}">{{ summary.type }} {{ summary.name }}</a></td>
                    <td>{{ summary.tier }}</td>
                    <!-- <td>{{ summary.total_count }}</td> -->
                    <td>{{ summary.first_event }}</td>
                    <td>{{ summary.last_event }}</td>
                    <td>{{ summary.status }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
    function voice_alert() {
        var alert_toggle = $('#voice-alert-toggle').prop('checked') // Boolean
        var alert_url = $('#voice-alert-toggle').data('alert-url')
        if (alert_toggle) {
            $.get( alert_url, function( data ) {
                data.messages.forEach(function (item) {
                    var msg = new SpeechSynthesisUtterance(item);
                    speechSynthesis.speak(msg);
                })
            } )
        }
    }
</script>
<script type="text/javascript">
    $(document).ready(function () {
        var refresh_seconds = 30000;

        voice_alert();

        // Configure the user preference switch
        $(document).on('change', 'input.voice-alert-toggle', function () {
            var url = $(this).data("url");
            if (this.checked) {
                console.log("ack checkbox on");
                $.get(url, { "voice_enabled": 'True' })
            } else {
                console.log("ack checkbox off")
                $.get(url, { "voice_enabled": 'False' })
            }
        });

        // Update the page content on a dynamic refresh interval
        var intervalId = window.setInterval(function () {
            voice_alert();
        }, refresh_seconds);

    })
</script>
{% endblock js %}