{% extends 'akips/base.html' %}
{% load static %}

{% block title %}OCNES Recent Events{% endblock %}
{% block page_name %}Recent Events (Last 24 Hours){% endblock %}

{% block style_sheets %}
<link rel="stylesheet" href="{% static 'admin-lte/plugins/datatables-bs4/css/dataTables.bootstrap4.css' %}">
{% endblock %}

{% block content %}
<div class="card">
    <div class="card-body table-responsive">
        <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">

        <table id="myTable" class="table table-hover dataTable table-sm">
            <thead>
                <tr>
                    <th>Building / Device</th>
                    <th>Tier</th>
                    <!-- <th>Devices</th> -->
                    <th>First Event</th>
                    <th>Last Event</th>
                    <!-- <th>Status</th> -->
                </tr>
            </thead>
            <tbody>
                {% for summary in summaries %}
                <tr>
                    <td><a href="{% url 'summary' summary.id %}">{{ summary.type }} {{ summary.name }}</a></td>
                    <td>{{ summary.tier }}</td>
                    <!-- <td>{{ summary.total_count }}</td> -->
                    <td>{{ summary.first_event|date:'m-d H:i:s' }}</td>
                    <td>{{ summary.last_event|date:'m-d H:i:s' }}</td>
                    <!-- <td>{{ summary.status }}</td> -->
                </tr>
                {% endfor %}
            </tbody>
        </table>

        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static 'admin-lte/plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'admin-lte/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script type="text/javascript" src="{% static 'admin-lte/plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script type="text/javascript" src="{% static 'admin-lte/plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
<script type="text/javascript" src="{% static 'admin-lte/plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
<script type="text/javascript" src="{% static 'admin-lte/plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
<script type="text/javascript" src="{% static 'admin-lte/plugins/jszip/jszip.min.js' %}"></script>
<script type="text/javascript" src="{% static 'admin-lte/plugins/pdfmake/pdfmake.min.js' %}"></script>
<script type="text/javascript" src="{% static 'admin-lte/plugins/pdfmake/vfs_fonts.js' %}"></script>
<script type="text/javascript" src="{% static 'admin-lte/plugins/datatables-buttons/js/buttons.html5.min.js' %}"></script>
<script type="text/javascript" src="{% static 'admin-lte/plugins/datatables-buttons/js/buttons.print.min.js' %}"></script>
<script type="text/javascript" src="{% static 'admin-lte/plugins/datatables-buttons/js/buttons.colVis.min.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function () {
        // Setup Alerting
        refresh_alerts();
        enable_alert_toggle();

        $("#myTable").DataTable({
          "responsive": true, "lengthChange": false, "autoWidth": false,
          "buttons": ["copy", "csv", "excel", "pdf", "print"],
          "pageLength": 25,
          "ordering": false,
        }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');

    })
</script>
{% endblock js %}