{% extends 'akips/base.html' %}

{% block title %}OCNES {{ summary.name }}{% endblock %}
{% block page_name %}Event Focus | {{ summary.name }}{% endblock %}

{% block content %}
<form method="get" action="{% url 'hibernate' %}">
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-6">
                <table class="table table-sm">
                    <tr>
                        <th>Type</th>
                        <td>{{ summary.type }}</td>
                    </tr>
                    <tr>
                        <th>Name</th>
                        <td>{{ summary.name }}</td>
                    </tr>
                    <tr>
                        <th>First Event</th>
                        <td>{{ summary.first_event }}</td>
                        <!-- <td>{{ summary.first_event|date:'m-d H:i:s' }}</td> -->
                    </tr>
                    <tr>
                        <th>Last Event</th>
                        <td>{{ summary.last_event }}</td>
                        <!-- <td>{{ summary.last_event|date:'m-d H:i:s' }}</td> -->
                    </tr>
                    <tr>
                        <th>Trend</th>
                        <td>{{ summary.trend }}</td>
                    </tr>
                    <tr>
                        <th>Status</th>
                        <td>{{ summary.status }}</td>
                    </tr>
                    <tr>
                        <th>Comment</th>
                        <td>{{ summary.comment }}</td>
                    </tr>
                    {% if request.user.is_superuser %}
                    <!-- <tr>
                        <th>Moving Average</th>
                        <td>Now: {{ summary.moving_average }} / Low: {{ avg_low }} / High: {{ avg_high }}</td>
                    </tr> -->
                    {% endif %}
                </table>
            </div>
            <div class="col-6">
                <table class="table table-sm">
                    <tr>
                        <th>Switch Count</th>
                        <td>{{ summary.switch_count }}</td>
                    </tr>
                    <tr>
                        <th>AP Count</th>
                        <td>{{ summary.ap_count }}</td>
                    </tr>
                    <tr>
                        <th>UPS Count</th>
                        <td>{{ summary.ups_count }}</td>
                    </tr>
                    <tr>
                        <th>Total Count</th>
                        <td>{{ summary.total_count }}</td>
                    </tr>
                    <tr>
                        <th>Possible Devices</th>
                        <td>{{ summary.max_count }}</td>
                    </tr>
                    <tr>
                        <th>Percent Affected</th>
                        <td>{% widthratio summary.percent_down 1 100 %}%</td>
                    </tr>
                    <tr>
                        <th>UPS On Battery</th>
                        <td>{{ summary.ups_battery }}</td>
                    </tr>
                    <tr>
                        <th>Incident</th>
                        <td><a href="https://tdx.unc.edu/TDNext/Apps/34/Tickets/TicketDet.aspx?TicketID={{ summary.tdx_incident }}" target="_blank">{{ summary.tdx_incident }}</a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<ul class="nav nav-tabs" id="myTab" role="tablist">
    {% if summary.status == 'Open' %}
    <li class="nav-item">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Current Unreachables ({{ u_open|length }})</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Past Unreachables ({{ u_closed|length }})</a>
    </li>
    {% else %}
    <li class="nav-item">
      <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="false">Current Unreachables ({{ u_open|length }})</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="true">Past Unreachables ({{ u_closed|length }})</a>
    </li>
    {% endif %}
    {% if batteries %}
    <li class="nav-item">
      <a class="nav-link" id="battery-tab" data-toggle="tab" href="#battery" role="tab" aria-controls="battery" aria-selected="false">UPS Battery Status ({{ batteries|length }})</a>
    </li>
    {% endif %}
  </ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade {% if summary.status == 'Open' %}show active{% endif %}" id="home" role="tabpanel" aria-labelledby="home-tab">
        <div class="card">
            <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Address</th>
                            <th>Down</th>
                            <!-- <th>Type</th> -->
                            <th>Description</th>
                            <th>Start</th>
                            <!-- <th>Last Event</th> -->
                            <th>Hibernate</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for unreachable in u_open %}
                        <tr>
                            <td><a href="{% url 'device' unreachable.device.name %}">{% if unreachable.device.sysName %}{{ unreachable.device.sysName }}{% else %}{{unreachable.device.name}}{% endif %}</a></td>
                            <td>{{ unreachable.device.ip4addr }}</td>
                            <td>{% if unreachable.ping_state == 'down' %}ping{% endif %} {% if unreachable.snmp_state == 'down' %}snmp{% endif %}</td>
                            <!-- <td>{{ unreachable.device.hierarchy }} {{ unreachable.device.type}}</td> -->
                            <td><span class="d-inline-block text-truncate" style="max-width: 150px">{{ unreachable.device.sysDescr }}</span></td>
                            <td>{{ unreachable.event_start|date:'m-d H:i:s' }}</td>
                            <!-- <td>{{ unreachable.last_refresh }}</td> -->
                            <td class="text-center">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" name="device" value="{{ unreachable.device.id }}">
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                
                {% if u_open %}
                <div class="float-right p-3">
                    <!-- <button class="btn btn-primary" id="hibernate_clear" >Clear Focus</button> -->
                    <button class="btn btn-primary" id="hibernate" type="submit">Hibernate Selected</button>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="tab-pane fade {% if summary.status == 'Closed' %}show active{% endif %}" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <div class="card">
            <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Address</th>
                            <th>Down</th>
                            <!-- <th>Type</th> -->
                            <th>Description</th>
                            <th>Start</th>
                            <th>End</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for unreachable in u_closed %}
                        <tr>
                            <td><a href="{% url 'device' unreachable.device.name %}">{{ unreachable.device.sysName }}</a></td>
                            <td>{{ unreachable.device.ip4addr }}</td>
                            <td>{% if unreachable.ping_state == 'down' %}ping{% endif %} {% if unreachable.snmp_state == 'down' %}snmp{% endif %}</td>
                            <!-- <td>{{ unreachable.device.hierarchy }} {{ unreachable.device.type}}</td> -->
                            <td><span class="d-inline-block text-truncate" style="max-width: 150px">{{ unreachable.device.sysDescr }}</span></td>
                            <td>{{ unreachable.event_start|date:'m-d H:i:s' }}</td>
                            <td>{{ unreachable.last_refresh|date:'m-d H:i:s' }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="battery" role="tabpanel" aria-labelledby="battery-tab">
        <div class="card">
            <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>UPS Device</th>
                            <th>IP</th>
                            <th>Power Source</th>
                            <th>Last Change</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for status in batteries %}
                        <tr>
                            <td><a href="{% url 'device' status.device.name %}">{{ status.device.name }}</a></td>
                            <td>{{ status.device.ip4addr }}</td>
                            <td>{{ status.value }}</td>
                            <td>{{ status.last_change|date:'m-d H:i:s' }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
</form>
{% endblock %}

{% block js %}
<script type="text/javascript">
    $(document).ready(function () {
        // Setup Alerting
        refresh_alerts();
        enable_alert_toggle();

    })
</script>
{% endblock js %}