{% extends 'akips/base.html' %}

{% block title %}OCNES {{ summary.name }}{% endblock %}
{% block page_name %}Event Focus | {{ summary.name }}{% endblock %}

{% block content %}
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-6">
                <table class="table table-sm">
                    <tr>
                        <th>Type</th>
                        <td>{{ summary.type }}</td>
                    </tr>
                    <tr>
                        <th>Name</th>
                        <td>{{ summary.name }}</td>
                    </tr>
                    <tr>
                        <th>First Event</th>
                        <td>{{ summary.first_event }}</td>
                    </tr>
                    <tr>
                        <th>Last Event</th>
                        <td>{{ summary.last_event }}</td>
                    </tr>
                    <tr>
                        <th>Trend</th>
                        <td>{{ summary.trend }}</td>
                    </tr>
                    <tr>
                        <th>Status</th>
                        <td>{{ summary.status }}</td>
                    </tr>
                </table>
            </div>
            <div class="col-6">
                <table class="table table-sm">
                    <tr>
                        <th>Switch Count</th>
                        <td>{{ summary.switch_count }}</td>
                    </tr>
                    <tr>
                        <th>AP Count</th>
                        <td>{{ summary.ap_count }}</td>
                    </tr>
                    <tr>
                        <th>UPS Count</th>
                        <td>{{ summary.ups_count }}</td>
                    </tr>
                    <tr>
                        <th>Total Count</th>
                        <td>{{ summary.total_count }}</td>
                    </tr>
                    <tr>
                        <th>Possible Devices</th>
                        <td>{{ summary.max_count }}</td>
                    </tr>
                    <tr>
                        <th>Percent Affected</th>
                        <td>{% widthratio summary.percent_down 1 100 %}%</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<ul class="nav nav-tabs" id="myTab" role="tablist">
    {% if summary.status == 'Open' %}
    <li class="nav-item">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Current Unreachables ({{ u_open|length }})</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Past Unreachables ({{ u_closed|length }})</a>
    </li>
    {% else %}
    <li class="nav-item">
      <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="false">Current Unreachables ({{ u_open|length }})</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="true">Past Unreachables ({{ u_closed|length }})</a>
    </li>
    {% endif %}
  </ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade {% if summary.status == 'Open' %}show active{% endif %}" id="home" role="tabpanel" aria-labelledby="home-tab">
        <div class="card">
            <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Down</th>
                            <th>Description</th>
                            <th>First Event</th>
                            <th>Last Event</th>
                            <th>Hibernate</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for unreachable in u_open %}
                        <tr>
                            <td><a href="{% url 'device' unreachable.device.name %}">{{ unreachable.device.name }}</a></td>
                            <td>{% if unreachable.ping_state == 'down' %}ping{% endif %} {% if unreachable.snmp_state == 'down' %}snmp{% endif %}</td>
                            <td class="d-inline-block text-truncate" style="max-width: 150px">{{ unreachable.device.sysDescr }}</td>
                            <td>{{ unreachable.event_start }}</td>
                            <td>{{ unreachable.last_refresh }}</td>
                            <td></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="tab-pane fade {% if summary.status == 'Closed' %}show active{% endif %}" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <div class="card">
            <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Down</th>
                            <th>Description</th>
                            <th>First Event</th>
                            <th>Last Event</th>
                            <th>Hibernate</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for unreachable in u_closed %}
                        <tr>
                            <td><a href="{% url 'device' unreachable.device.name %}">{{ unreachable.device.name }}</a></td>
                            <td>{% if unreachable.ping_state == 'down' %}ping{% endif %} {% if unreachable.snmp_state == 'down' %}snmp{% endif %}</td>
                            <td class="d-inline-block text-truncate" style="max-width: 150px">{{ unreachable.device.sysDescr }}</td>
                            <td>{{ unreachable.event_start }}</td>
                            <td>{{ unreachable.last_refresh }}</td>
                            <td></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
    function voice_alert() {
        var alert_toggle = $('#voice-alert-toggle').prop('checked') // Boolean
        var alert_url = $('#voice-alert-toggle').data('alert-url')
        if (alert_toggle) {
            $.get( alert_url, function( data ) {
                data.messages.forEach(function (item) {
                    var msg = new SpeechSynthesisUtterance(item);
                    speechSynthesis.speak(msg);
                })
            } )
        }
    }
</script>
<script type="text/javascript">
    $(document).ready(function () {
        var refresh_seconds = 30000;

        voice_alert();

        // Configure the user preference switch
        $(document).on('change', 'input.voice-alert-toggle', function () {
            var url = $(this).data("url");
            if (this.checked) {
                console.log("ack checkbox on");
                $.get(url, { "voice_enabled": 'True' })
            } else {
                console.log("ack checkbox off")
                $.get(url, { "voice_enabled": 'False' })
            }
        });

        // Update the page content on a dynamic refresh interval
        var intervalId = window.setInterval(function () {
            voice_alert();
        }, refresh_seconds);

    })
</script>
{% endblock js %}