{% extends 'akips/base.html' %}

{% block title %}OCNES{% endblock %}
{% block page_name %}Trap Focus | {{ trap.trap_oid }}{% endblock %}


{% block content %}
<div class="card">
    <div class="card-body">

        <table class="table table-hover table-sm">
            <tbody>
                <tr>
                    <th>Trap Time</th>
                    <td>{{ trap.tt|date:'m/d h:i:s a' }}</td>
                </tr>
                <tr>
                    <th>Trap</th>
                    <td>{{ trap.trap_oid }}</td>
                </tr>
                <tr>
                    <th>Device</th>
                    <td><a href="{% url 'device' trap.device.name %}">{{ trap.device.sysName }}</a> ({{ trap.ipaddr}})</td>
                </tr>
                <tr>
                    <th>Uptime</th>
                    <td>{{ uptime }}</td>
                </tr>
                <tr>
                    <th>Status</th>
                    <td>{{ trap.status }}</td>
                </tr>
                {% for oid in trap_oids %}
                <tr>
                    <th>OID</th>
                    <td>{{ oid }}</td>
                </tr>
                {% endfor %}
                {% if trap.dup_count > 0 %}
                <tr>
                    <th>Duplicates</th>
                    <td>{{ trap.dup_count }}</td>
                </tr>
                <tr>
                    <th>Last Duplicate</th>
                    <td>{{ trap.dup_last|date:'m/d h:i:s a' }}</td>
                </tr>
                {% endif %}
            </tbody>
        </table>

    </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
    function voice_alert() {
        var alert_toggle = $('#voice-alert-toggle').prop('checked') // Boolean
        var alert_url = $('#voice-alert-toggle').data('alert-url')
        if (alert_toggle) {
            $.get( alert_url, function( data ) {
                data.messages.forEach(function (item) {
                    var msg = new SpeechSynthesisUtterance(item);
                    speechSynthesis.speak(msg);
                })
            } )
        }
    }
</script>
<script type="text/javascript">
    $(document).ready(function () {
        var refresh_seconds = 30000;

        voice_alert();

        // Configure the user preference switch
        $(document).on('change', 'input.voice-alert-toggle', function () {
            var url = $(this).data("url");
            if (this.checked) {
                console.log("ack checkbox on");
                $.get(url, { "voice_enabled": 'True' })
            } else {
                console.log("ack checkbox off")
                $.get(url, { "voice_enabled": 'False' })
            }
        });

        // Update the page content on a dynamic refresh interval
        var intervalId = window.setInterval(function () {
            voice_alert();
        }, refresh_seconds);

    })
</script>
{% endblock js %}