{% extends 'akips/base.html' %}

{% block title %}OCNES{% endblock %}
{% block page_name %}Trap Focus | {{ trap.trap_oid }}{% endblock %}


{% block content %}
<div class="card">
    <div class="card-body">

        <table class="table table-hover table-sm">
            <tbody>
                <tr>
                    <th>Trap Time</th>
                    <td>{{ trap.tt }}</td>
                </tr>
                <tr>
                    <th>Trap</th>
                    <td>{{ trap.trap_oid }}</td>
                </tr>
                <tr>
                    <th>Device</th>
                    <td><a href="{% url 'device' trap.device.name %}">{{ trap.device }}</a> ({{ trap.ipaddr}})</td>
                </tr>
                <tr>
                    <th>Uptime</th>
                    <td>{{ trap.uptime }}</td>
                </tr>
                <tr>
                    <th>Status</th>
                    <td>{{ trap.status }}</td>
                </tr>
                {% for oid in trap_oids %}
                <tr>
                    <th>OID</th>
                    <td>{{ oid }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</div>
{% endblock %}
