{% extends 'akips/base.html' %}

{% block title %}OCNES Unreachable{% endblock %}
{% block page_name %}Unreachable Devices{% endblock %}

{% block content %}
 <div class="card">
    <div class="card-body table-responsive p-0">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>IP Address</th>
                    <th>Down</th>
                    <th>sysName</th>
                    <th>Last Event</th>
                </tr>
            </thead>
            <tbody>
                {% for unreachable in unreachables %}
                <tr>
                    <td><a href="{% url 'device' unreachable.device.name %}">{{ unreachable.device.name }}</a></td>
                    <td>{{ unreachable.device.ip4addr }}</td>
                    <td>{{ unreachable.attribute }}</td>
                    <td>{{ unreachable.device.sysName }}</td>
                    <td>{{ unreachable.last_refresh }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}