{% extends 'akips/base.html' %}

{% block page_name %}Unreachable Devices{% endblock %}

{% block content %}
 <div class="card">
    <div class="card-header">
        <h3 class="card-title">Unreachable</h3>
    </div>
    <div class="card-body table-responsive p-0">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>IP Address</th>
                    <th>sysName</th>
                    <th>Last Event</th>
                </tr>
            </thead>
            <tbody>
                {% for device in devices %}
                <tr>
                    <td><a href="{% url 'device' device.device.name %}">{{ device.device.name }}</a></td>
                    <td>{{ device.device.ip4addr }}</td>
                    <td>{{ device.device.sysName }}</td>
                    <td>{{ device.last_refresh }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}